@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-laranja: rgba(246, 76, 22, 0.83);
  --color-escuro: #656565;
  --color-médio: #969696;
  --color-claro: #bcbcbc;
  --color-white: #f8f8f8;
}

body {
  background: linear-gradient(to top left, var(--color-claro) 50%, var(--color-white) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

nav {
  color: var(--color-medio);
}

.navbar-toggler, .navbar-toggler:focus {
  border: none;
  outline: none;
}

.logo {
  font-family: "Work Sans", sans-serif;
}

.bg-laranja {
  background: var(--color-laranja);
}

.bg-escuro {
  background: var(--color-escuro);
}

.bg-médio {
  background: var(--color-médio);
}

.bg-claro {
  background: var(--color-claro);
}

.texto-white {
  color: var(--color-white);
}

.navbar-center {
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  margin-top: 20px;
  color: var(--color-laranja);
}

.text-section {
  border-radius: 5px;
  box-shadow: 0 0 4px .5px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
}

.text-section:last-child {
  margin-bottom: 40px;
}

.more {
  cursor: pointer;
}

.modal-content {
  background-color: var(--color-médio);
  color: var(--color-white);
}

.modal-header, .modal-header button {
  color: var(--color-laranja);
}

footer {
  width: 100%;
  padding: 1rem 0;
  bottom: 0;
}

.footer {
  font-size: 1rem;
  color: var(--color-laranja);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer a,
.footer a:hover,
.footer a:visited {
  color: var(--color-laranja);
  text-decoration: none;
}

/* Telas pequenas */
@media (min-width: 576px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Telas médias */
@media (min-width: 768px) {
  .footer {
    font-size: 1.25rem;
  }
}

/* Telas grandes */
@media (min-width: 992px) {
  body {
    background: linear-gradient(
      to top right,
      var(--color-claro) 50%, 50%, var(--color-white) 50%
    );
  }

  nav {
    border-bottom: none;
  }

  nav .container {
    border-bottom: 1px solid var(--color-claro);
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .active {
    border-bottom: 1.5px solid var(--color-laranja);
    color: var(--color-médio) !important;
  }

  footer {
    position: absolute;
  }

  .footer {
    font-size: 0.85rem;
  }
}
